<!-- store/templates/app/store_list.html -->
{% extends 'app/header.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Все магазины</h2>

    <div class="row">
      {% for store in stores %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ store.name }}</h5>
              <p class="card-text">{{ store.description }}</p>
              <a href="{% url 'store_detail' store.id %}" class="btn btn-primary">Перейти в магазин</a>
            </div>
          </div>
        </div>
      {% empty %}
        <p>Магазины не найдены.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
