<!-- templates/user/profile.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    {% include 'app/header.html' %}

    <div class="container mt-5">
        <h1>Добро пожаловать в личный кабинет, {{ user.username }}!</h1>
        <p>Ваш email: {{ user.email }}</p>
        <!-- Добавьте дополнительную информацию по желанию -->
    </div>
</body>
</html>
