{% include 'asosi/header.html' %}

<div class="container mt-4">
    <h2>Товары</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Цена:</strong> {{ product.price }} сомони</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Нет товаров в этой категории.</p>
        {% endfor %}
    </div>
</div>

{% include 'asosi/footer.html' %}
